.multi-line-text {
    white-space: pre-line;
    /* or pre-wrap */
}

.bordered-input {
    border: 2px solid darkblue;
    /* Example border color and width */
    border-radius: 4px;
    /* Optional: rounds the corners */
    padding: 8px;
    /* Optional: adds padding inside the input */
    width: 100%;
}

.message-input {
    /* background-color:lightblue; */
    background-color: rgb(233, 233, 233);
    padding: 1em;
    text-align: center;
}